#ico{
    height:60px;
    width:60px;
    }

#bet-title{
    text-align:center;
    background:linear-gradient(to top,rgb(30,240,40),rgba(30,240,40,0.1));
    font-family:"Abril Fatface", cursive;
    padding: 10px 15px;
    margin-top:-1vw;
    margin-left:-1vw;
    margin-right:-1vw;
    }
#bet-title:hover{
    padding:25px 25px;
    transition: all 290ms ease;
    transform:scale(1.5);
    }
    
body{
    background-image:linear-gradient(to bottom,rgba(0,50,255,0.9),red,blue);
    color:rgb(245,222,47);
    }
h2{
     font-weight:bold;
    font-size:40px;
    font-family: "Black Ops One", cursive;
    }
.title{
    margin:0px 30px;
    height:100px;
    width:260px;
    border:6px solid rgb(245,222,47);
    padding:6px;


}
.title:hover{
    border:9px solid violet;
    transition:all 290ms ease;
    }
.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    border-radius: 20px;
    height: 290px;
    width: 96vw;
    float: left;
    border:4px solid rgb(245,222,47);
}
iframe:hover{
    border:9px solid violet;
    transition:all 290ms ease;
    }
.cover p{
    text-align: left;
    margin: 20px;
}
.matches{
    text-align: center;
    margin:9px 18px;
    padding:2px;
    background:linear-gradient(to top,rgb(30,240,40),rgba(30,240,40,0.3));
    animation:anima 2s linear 0s infinite alternate;
}
.game1{
    display: flex;
    justify-content: space-around;
    background-color: ;
    border:2px solid #edeff8;
    align-items: center;
    margin: 5px;
}

.game-logo img{
    width: 120px;
    height: 60px;
    border:3px solid pink;
    margin-top:5px;
    
}

.team{
    text-align:center;
}
.team h2{
    font-size: 20px;
    
}
.draws{
    display:flex;
    text-align: center;

}
.draws p{
    font-size: 18px;
    margin:0 30px;
    font-weight: 700;
}


@media(max-width:900px){
    .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .games{
        margin: 0 ;
    }
    .game1{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
}
button{
    margin: 29px 109px;
    padding:9px;
    font-size:larger;
    font-family:sans-serif;
    background-color:blue;
    color:pink;
    border:3px solid rgb(255,17,238);
    }
button:hover{
    color:grey;
    transition: all 300ms ease;
    
    }

 @keyframes anima{
     0%{
         color:rgb(30,240,40);
         }
    100%{
        color:rgb(245,222,47);
        }
     }
     